body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #EEEFE0;
    color: #cdbee5;
    padding: 30px;
    text-align: center;
}

/*Encabezado*/
.main-header__title {
    font-size: 32px;
    color: #4ca786;
    margin-bottom: 10px;
}

/* Estilos para la sección que contiene los componentes */
.components {
    text-align: center;
}

/* Cada bloque (componente individual) */
.components__block {
    display: inline-block;
    vertical-align: top;
    background-color: #A7C1A8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 300px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
}

/*Al pasar sobre la card su tamaños se ve ligeramente movido*/
.components__block:hover {
    transform: scale(1.05);
}

/* Título de cada componente */
.components__title {
    font-size: 20px;
    color: #1a7654;
    margin-bottom: 10px;
}

/* Enlace del componente */
.components__block a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #8A784E;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/*Al pasar por encima de el boton, se evidencia un cambio de color*/
.components__block a:hover {
    background-color: #BBD8A3;
}

/* media querie para darle una mejor vista en diferentes tamaños*/
@media(max-width: 1024px) {
    .components__block {
        width: 90%;
    }
}
