.task-list {
    border: 1px solid #999;
    padding: 10px;
    width: 250px;
}

.task-list__title {
    margin-bottom: 10px;
}

.task-list__items {
    list-style: none;
    padding-left: 0;
}

.task-list__item {
    padding: 5px;
    margin-bottom: 5px;
    background: #eee;
}
